a {
  border: none !important;
  border-radius: 25px !important;
  decoration: none !important;
  padding: 15px 32px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
}

body{
  background-color: #810CA8 !important;
  color: white !important;
}

.bottom_bar {
  text-align: center;
  top: 0;
  width: 100%
  z-index: 1;
}

.bottom-container{
    margin: 0 !important;
    padding: 1rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-end !important;
    min-height: 10vh !important;
    margin-top: 2rem !important;
}

button {
  background-color: #CB1C8D;
  border: none !important;
  border-radius: 25px !important;
  color: white;
  font-family: 'Crete Round', serif !important;
  padding: 15px 32px !important;
  text-align: center !important;
  margin: 4px 2px !important;
  cursor: pointer !important;
}

button:hover {
  background-color: white;
  border: none !important;
  border-radius: 25px;
  color: #810CA8;
  font-family: 'Crete Round', serif !important;
  padding: 15px 32px;
  text-align: center;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
}

.c-rights{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 0.8rem !important;
    text-align: center !important;
    display: block !important;
    background-color: #810CA8 !important;
    color: white !important;
}

.c-rights:hover{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 0.8rem !important;
    text-align: center !important;
    display: block !important;
    color: white !important;
}

.container{
    width: 100%;
    overflow: hidden;
}

.form-container {
    background-color: #A459D1;
    padding: 2rem;
    margin-top: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0,0,0,.2);
}

frame{
    padding: 0;
    margin: 0;
    border: 0;
}

.form-container h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group text-center{
    text-align: center;
}

h1{
    color: white;
    font-family: 'Merriweather', serif !important;
    font-size: 2.9rem !important;
    text-align: center !important;
    padding: 1rem !important;
}

h2{
    color: white !important;
    font-family: 'Merriweather', serif !important;
    font-size: 1.5rem !important;
    padding-right: 2% !important;
    padding-left: 2% !important;
}

h3{
    color: white !important;
    font-family: 'Merriweather', serif !important;
    font-size: 1.3rem !important;
}

hr{
    border-color: #FCF8EC !important;
    border-style: dotted !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    width: 5% !important;
    border-width: 10px !important;
    margin: 50px auto !important;
}

.me{
  border-radius: 50%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 35%;
}

.middle_container {
  position: relative;
  text-align: center;
  z-index: 2;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.5rem;
    text-align: justify;
}


.top_container {
  padding-top: 4rem;
  position: relative;
  text-align: center;
  z-index: 2;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
}

/* Navegation bar */

header{
    background-color: white;
}

.container_nav{
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 0 auto;
    color: #810CA8;
}

.brand{
    height: 30px;
    float: left;
    justify-content: space-between;
}

.navIcon{
    height: 15px;
}

ul li{
    display: inline-block;
}


ul li a{
    color: #810CA8;
    text-decoration: none;
}

.nav-toggle{
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
}
.open{
    height: 65vh !important;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 683px){
    .container{
        flex-direction: column;
        align-items: flex-start;
    }

    nav{
        height: 3.5rem;
        overflow: hidden;
        transition: 250ms height ease-in-out;
    }
    nav ul{
        margin-top: 4rem;
    }


    ul li{
        display: block;
        text-align: center;
    }

    .nav-toggle{
        display: block;
    }
}

